
.wrapper {
    background: black no-repeat center;
    background-size: cover;
  }
  
 .h100{
    height: 100%;
 }
 .hidden{
    display: none;
 }
  .phone {
    background: url("./mbg.jpg") no-repeat center;
    background-size: cover;
  }
  
  .phone {
    width: 300px;
    height: 600px;
  }
  
  .phone::-webkit-scrollbar {
    display: none;
  }
  
  .notification {
    background-color: rgba(17, 16, 16, 0.8);
    backdrop-filter: blur(20px);
    
  }
  
  .sliderContainer {
    top: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
  }
  
  .slider {
    appearance: none;
    z-index: 99;
    background-color: transparent;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 40px;
    height: 40px;
    background: radial-gradient(rgb(36, 80, 199), rgb(12, 30, 189));
  
    border-radius: 50%;
    background: url("./right.gif") no-repeat center;
    background-size: cover;
  }
  
  .slider-label {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    pointer-events: none;
  }

  #appScreen{
    backdrop-filter: blur(10px);
    display: none;
  }
  .searchIcon{
    top: 3px;
    right: 12px;
    color: black;
  }

#contactListScreen{
    display: none;
}
/* #contact-list{
    display: none;
} */