
.wrapper {
    background: black no-repeat center;
    background-size: cover;
  }
  
 .h100{
    height: 100%;
 }
 .decoration{
  text-decoration: none;
  color: black;
 }
 
  .phone {
    background: url("./mbg.jpg") no-repeat center;
    background-size: cover;
  }
  
  .phone {
    width: 300px;
    height: 600px;
  }
  
  .phone::-webkit-scrollbar {
    display: none;
  }
  
  .notification {
    background-color: rgba(17, 16, 16, 0.8);
    backdrop-filter: blur(20px);
    
  }
  
  .sliderContainer {
    top: 140px;
    background-color: rgba(10, 10, 10, 0.2);
    backdrop-filter: blur(20px);
  }
  
  .slider {
    appearance: none;
    z-index: 99;
    background-color: transparent;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 40px;
    height: 40px;
    
    background: url("./right.gif") no-repeat center;
    background-size: cover;
  }
  
  .slider-label {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    pointer-events: none;
  }
.time-css{
  height: 50%;
}
.time-css-lock{
  font-size: 60px;
}
  #appScreen{
    backdrop-filter: blur(10px);
    display: none;
  }
  .searchIcon{
    top: 7px;
    right: 20px;
    color: black;
  }

#contactListScreen{
    display: none;
}
#contact-list{

}